Repository imkzvd/admin.mabell: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci: added optional rollup package
  package-lock.json
  package.json
Due: prettier --write

build: rebuild api module to last version
  src/api/api.module.ts
Due: eslint --fix, prettier --write

fix: fixed playlist module
  src/modules/playlist/composables/usePlaylists.ts
  src/modules/playlist/services/playlist.api-service.ts
  src/modules/playlist/views/PlaylistView.vue
Due: eslint --fix, prettier --write

chore: 1.0.0-alpha.1
  package.json
Due: prettier --write

feat: updated search module to new api version
  src/modules/search/components/ArtistAutocomplete/ArtistAutocomplete.vue
  src/modules/search/components/GlobalSearch/GlobalSearch.vue
  src/modules/search/components/PlaylistSearch/components/PlaylistSearchResultItem/PlaylistSearchResultItem.vue
  src/modules/search/components/TrackSearch/components/TrackSearchResultItem/TrackSearchResultItem.vue
  src/modules/search/services/search.api-service.ts
Due: eslint --fix, prettier --write

build: build api
  src/api/api.module.ts
Due: eslint --fix, prettier --write

feat: added "maxHeight" prop for "UIDialog" component
  src/shared/components/UI/UIDialog/UIDialog.vue
  src/shared/components/UI/UIDialog/types.ts
Due: eslint --fix, prettier --write

fix: fixed display img form for small resolutions
  src/modules/artist/components/_forms/ArtistAvatarForm/ArtistAvatarForm.vue
  src/modules/playlist/components/_forms/PlaylistCoverForm/PlaylistCoverForm.vue
Due: eslint --fix, prettier --write

fix: fixed "TrackSearc" component to new api
  src/modules/search/components/TrackSearch/TrackSearch.vue
Due: eslint --fix, prettier --write

fix: set max height for search dialogs
  src/modules/search/components/_dialogs/GlobalSearchDialog/GlobalSearchDialog.vue
  src/modules/search/components/_dialogs/TrackSearchDialog/TrackSearchDialog.vue
Due: eslint --fix, prettier --write

feat: updated home logo icon
  src/shared/components/HomeLogo/HomeLogo.vue
Due: eslint --fix, prettier --write

feat: added version page
  src/router/index.ts
  src/shared/views/VersionView.vue
Due: eslint --fix, prettier --write

chore: updated readme file
  README.md
  src/assets/svg/admin_logo.svg
Due: none

chore: updated logo width for readme file
  README.md
Due: none

chore: updated readme file
  README.md
Due: none

feat: added LICENSE file
  LICENSE
Due: none

feat: updated readme file
  README.md
Due: none

feat: updated "package-lock" file
  package-lock.json
Due: prettier --write

feat: updated home logo
  src/shared/components/HomeLogo/HomeLogo.vue
Due: eslint --fix, prettier --write

feat: updated size of home logo on auth page
  src/modules/auth/views/LoginView.vue
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{html,json})
