Repository imkzvd/admin.mabell: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{html,json}": ["prettier --write"]
}

refactor: updated prettier config
  .prettierrc.json
Due: prettier --write

feat: added "sass", "sass-loader" packages
  package-lock.json
  package.json
Due: prettier --write

feat: prepared project file structure + deleted initial files
  src/App.vue
  src/api/.gitkeep
  src/assets/fonts/.gitkeep
  src/assets/images/.gitkeep
  src/assets/logo.svg
  src/assets/main.css
  src/assets/scss/_global.scss
  src/assets/scss/_variables.scss
  src/assets/scss/main.scss
  src/components/HelloWorld.vue
  src/components/TheWelcome.vue
  src/components/WelcomeItem.vue
  src/components/__tests__/HelloWorld.spec.ts
  src/components/icons/IconCommunity.vue
  src/components/icons/IconDocumentation.vue
  src/components/icons/IconEcosystem.vue
  src/components/icons/IconSupport.vue
  src/components/icons/IconTooling.vue
  src/features/admins/AdminsView.vue
  src/features/home/HomeView.vue
  src/layouts/.gitkeep
  src/main.ts
  src/router/index.ts
  src/shared/components/UI/.gitkeep
  src/stores/counter.ts
  src/utils/.gitkeep
  src/views/AboutView.vue
  src/views/HomeView.vue
Due: eslint --fix, prettier --write

feat: added "vuetify" package
  package-lock.json
  package.json
Due: prettier --write

feat: enabled vuetify in entry file
  src/main.ts
Due: eslint --fix, prettier --write

feat: added npm script for build api module
  package.json
Due: prettier --write

build: builded api module
  src/api/.gitkeep
  src/api/api.module.ts
Due: eslint --fix, prettier --write

feat: added shared api service
  src/shared/services/api.service.ts
Due: eslint --fix, prettier --write

feat: updated default vuetify theme
  src/main.ts
Due: eslint --fix, prettier --write

feat: updated body bg
  index.html
Due: prettier --write

feat: added "unplugin-auto-import" package
  package-lock.json
  package.json
Due: prettier --write

feat: added auto import config in vite config
  vite.config.ts
Due: eslint --fix, prettier --write

feat: added "unplugin-vue-components" package
  package-lock.json
  package.json
Due: prettier --write

feat: add global component config in vite config
  vite.config.ts
Due: eslint --fix, prettier --write

build: generated auto import files
  src/auto-imports.d.ts
  src/components.d.ts
Due: eslint --fix, prettier --write

feat: added font scss mixin
  src/assets/scss/_mixins.scss
Due: none

feat: added new fonts
  src/assets/fonts/.gitkeep
  src/assets/fonts/CircularSp/CircularSpBold.woff2
  src/assets/fonts/CircularSp/CircularSpBook.woff2
  src/assets/fonts/CircularSpCyrl/CircularSpCyrlBlack.woff2
  src/assets/fonts/CircularSpCyrl/CircularSpCyrlBold.woff2
  src/assets/fonts/CircularSpCyrl/CircularSpCyrlBook.woff2
  src/assets/fonts/CircularSpTitle/CircularSpTitleBlack.woff2
  src/assets/fonts/CircularSpTitle/CircularSpTitleBold.woff2
  src/assets/fonts/HumongousDemo/HumongousDemo.otf
Due: none

feat: enabled new fonts
  src/assets/scss/_fonts.scss
  src/assets/scss/main.scss
Due: none

feat: deleted initial css variables
  src/assets/scss/_variables.scss
Due: none

feat: added default layout
  src/layouts/.gitkeep
  src/layouts/DefaultLayout.vue
Due: eslint --fix, prettier --write

feat: added global css variables for custom aside bar
  src/assets/scss/_variables.scss
Due: none

feat: updated router config to enable default layout
  src/router/index.ts
Due: eslint --fix, prettier --write

build: generated auto imports files
  src/components.d.ts
Due: eslint --fix, prettier --write

feat: added css reset
  src/assets/scss/_reset.scss
  src/assets/scss/main.scss
Due: none

feat: updated global styles
  src/assets/scss/_global.scss
Due: none

feat: added "NavMenu" component
  src/shared/components/presenters/NavMenu/NavMenu.vue
  src/shared/components/presenters/NavMenu/constants.ts
  src/shared/components/presenters/NavMenu/types.ts
Due: eslint --fix, prettier --write

feat: added "NavMenu" component in default layout
  src/layouts/DefaultLayout.vue
Due: eslint --fix, prettier --write

feat: added "@mdi/font", "@iconify/vue" packages
  package-lock.json
  package.json
Due: prettier --write

feat: enabled vuetify mdi font
  src/main.ts
Due: eslint --fix, prettier --write

feat: added "UIAutocomplete" component
  src/shared/components/UI/.gitkeep
  src/shared/components/presenters/UI/UIAutocomplete/UIAutocomplete.vue
  src/shared/components/presenters/UI/UIAutocomplete/types.ts
Due: eslint --fix, prettier --write

feat: added "UIButton" component
  src/shared/components/presenters/UI/UIButton/UIButton.vue
  src/shared/components/presenters/UI/UIButton/types.ts
Due: eslint --fix, prettier --write

feat: added "UICheckbox" component
  src/shared/components/presenters/UI/UICheckbox/UICheckbox.vue
  src/shared/components/presenters/UI/UICheckbox/types.ts
Due: eslint --fix, prettier --write

feat: added "UIText" component
  src/shared/components/presenters/UI/UIText/UIText.vue
  src/shared/components/presenters/UI/UIText/types.ts
Due: eslint --fix, prettier --write

feat: added common types for ui components
  src/shared/components/presenters/UI/types.ts
Due: eslint --fix, prettier --write

feat: added "UIColorPicker" component
  src/shared/components/presenters/UI/UIColorPicker/UIColorPicker.vue
  src/shared/components/presenters/UI/UIColorPicker/types.ts
Due: eslint --fix, prettier --write

feat: enabled vuetify "VDateInput" component
  src/main.ts
Due: eslint --fix, prettier --write

feat: added "UIDatePicker" component
  src/shared/components/presenters/UI/UIDatePicker/UIDatePicker.vue
  src/shared/components/presenters/UI/UIDatePicker/types.ts
Due: eslint --fix, prettier --write

feat: added "UIHeading" component
  src/shared/components/presenters/UI/UIHeading/UIHeading.vue
  src/shared/components/presenters/UI/UIHeading/types.ts
Due: eslint --fix, prettier --write

feat: added "UIDialog" component
  src/shared/components/presenters/UI/UIDialog/UIDialog.vue
  src/shared/components/presenters/UI/UIDialog/types.ts
Due: eslint --fix, prettier --write

feat: added "UIDrawer" component
  src/shared/components/presenters/UI/UIDrawer/UIDrawer.vue
  src/shared/components/presenters/UI/UIDrawer/types.ts
Due: eslint --fix, prettier --write
